pyspark==3.5.1
delta-spark==3.1.0
confluent-kafka==2.4.0
kafka-python==2.0.2
transformers==4.42.4
torch==2.3.1
ray[default]==2.31.0
vectorbt==0.26.2
yfinance==0.2.40
alpaca-py==0.28.1
streamlit==1.36.0
plotly==5.22.0
kaleido==0.2.1
python-telegram-bot==21.4
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
pyarrow==16.1.0
python-dotenv==1.0.1
requests==2.32.3
